<nav class="menu">
    {%if request.user.is_authenticated%}
        <a href="{% url 'home' %}">Início</a>
        <a href="{% url 'funcionarios' %}">Funcionários</a>
        <a href="{% url 'produtos' %}">Produtos</a>
        <a href="{% url 'clientes' %}">Clientes</a>
        <a href="{% url 'posts' %}">Posts</a>
        <a href="{% url 'contatos' %}">Contatos</a>
    {%else%}
        <a href="{% url 'login''%}">Entrar</a>
        <a href="{% url 'registrar''%}">Registrar</a>
    {% endif %}
</nav>