{% extends "base.html" %}
{% block title %}Produtos {% endblock %}

{% block content %}
    <h3>Página de Produtos</h3>
    {% for produto in produtos %}
    <section class="card-produtos">
       
        <img src="{{ produto.foto.url }}" alt="Foto de {{produto.nome}}">
        <div class="info-funcionario">
            <h4>Nome: {{produto.nome}}</h4>
            <p>Categoria: {{produto.categoria}} </p>
            <p>Descrição: {{produto.descricao}} </p>
            <p>Preço: {{produto.preco}}</p>
            
        </div>
    </section>
    {%endfor%}
    
{% endblock %}